<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Synapse_X_Remake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Synapse_X_Remake.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorSave" serializeAs="String">
                <value>print("Synapse X Remake by Shezan")

-- Github: shezan78 star all my sh please :)
-- Have fun exploiting!</value>
            </setting>
            <setting name="OldEditor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KrnlAPI" serializeAs="String">
                <value>True</value>
            </setting>
        </Synapse_X_Remake.Properties.Settings>
    </userSettings>
</configuration>